<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer">
    <div class="footer__container">
        <nav class="footer__nav">
            <a th:href="@{/blog}" class="footer__link">Blog</a>
            <a th:href="@{/faq}" class="footer__link">FAQ</a>
            <a th:href="@{/whats-new}" class="footer__link">What's New</a>
        </nav>
        <div class="footer__copyright">
            <p>© 2025 azprojs.net. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
