<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header th:fragment="header" class="header">
    <a th:href="@{/}" class="header__logo">
        <img th:src="@{/main-images/icon_full_200x200.png}" alt="Data Flow Visualizer Logo">
        <h2>Data Flow Visualizer</h2>
    </a>
    <nav class="header__nav" sec:authorize="isAuthenticated()">
        <span class="text-gray-300">Welcome, <span sec:authentication="name">User</span>!</span>
        <a th:href="@{/app}" class="header__link">App</a>
        <a th:href="@{/suggestions}" class="header__link">Suggestions</a>
        <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/admin}" class="header__link">Admin Panel</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="header__link" style="background: none; border: none; cursor: pointer;">Logout</button>
        </form>
    </nav>
    <div class="header__actions" sec:authorize="!isAuthenticated()">
        <a th:href="@{/register}" class="header__button header__button--primary">
            <span class="truncate">Register</span>
        </a>
        <a th:href="@{/login}" class="header__button header__button--secondary">
            <span class="truncate">Login</span>
        </a>
    </div>
</header>

</body>
</html>
