# Ficheros de Git
.git
.gitignore

# Carpetas de compilación de Maven
target/

# Carpetas de dependencias de Node.js
node_modules/

# Ficheros de IDE
.idea/
.vscode/
*.iml

# Logs y bases de datos locales
*.log
data/
