body {
    background-color: #333;
    color: #eee;
}

.modal-content {
    background-color: #444;
    color: #eee;
}

.close {
    color: #ccc;
}

.close:hover,
.close:focus {
    color: #fff;
}

#context-menu {
    background-color: #555;
    color: #eee;
}

#context-menu a {
    color: #eee;
}

#context-menu a:hover {
    color: #fff;
}
