body.dark-mode {
    background-color: #333;
    color: #eee;
}

body.dark-mode .modal-content {
    background-color: #2c3e50; /* Midnight Blue */
    color: #ecf0f1; /* Clouds */
    border-radius: 5px;
}

body.dark-mode .modal-content pre {
    background-color: #34495e; /* Wet Asphalt */
    color: #ecf0f1; /* Clouds */
    padding: 10px;
    border-radius: 3px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body.dark-mode .close {
    color: #ccc;
}

body.dark-mode .close:hover,
body.dark-mode .close:focus {
    color: #fff;
}

body.dark-mode #context-menu {
    background-color: #34495e; /* Wet Asphalt */
    color: #ecf0f1; /* Clouds */
    border-radius: 3px;
}

body.dark-mode #context-menu a {
    color: #ecf0f1; /* Clouds */
}

body.dark-mode #context-menu a:hover {
    color: #3498DB; /* Peter River */
}

body.dark-mode .navbar {
    background-color: #2c3e50;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

body.dark-mode .navbar .logo,
body.dark-mode .navbar .nav-links span,
body.dark-mode .navbar .nav-links a,
body.dark-mode .navbar .nav-links button {
    color: #ecf0f1;
}

body.dark-mode .navbar .nav-links a:hover,
body.dark-mode .navbar .nav-links button:hover {
    color: #3498DB;
}

body.dark-mode .drop-zone {
    border-color: #5a5a5a;
    color: #ccc;
}

body.dark-mode .drop-zone.dragover {
    border-color: #3498DB;
    color: #3498DB;
}

body.dark-mode #file-order-form button {
    background-color: #3498DB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode #file-order-form button:hover {
    background-color: #2980b9;
}

body.dark-mode #file-list li {
    background-color: #34495e;
    color: #ecf0f1;
}

body.dark-mode #metadata-table th,
body.dark-mode #metadata-table td {
    border-color: #4a4a4a;
}

body.dark-mode #metadata-table th {
    background-color: #34495e;
}

body.dark-mode .main-content {
    background-color: #333;
}

body.dark-mode #file-list-container h3 {
    color: #ecf0f1;
}

body.dark-mode #file-list li input {
    background-color: #4a4a4a;
    color: #ecf0f1;
    border: 1px solid #5a5a5a;
}

/* Style the tab */
body.dark-mode .tab {
    border-color: #4a4a4a;
    background-color: #2c3e50;
}

/* Style the buttons inside the tab */
body.dark-mode .tab .tablinks {
    background-color: #34495e;
    color: #ecf0f1;
    border: none;
}

/* Change background color of buttons on hover */
body.dark-mode .tab .tablinks:hover {
    background-color: #4a4a4a;
}

/* Create an active/current tablink class */
body.dark-mode .tab .tablinks.active {
    background-color: #5a5a5a;
}

/* Style the tab content */
body.dark-mode .tabcontent {
    background-color: #2c3e50;
    border-color: #4a4a4a;
}
