<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hello, <span th:text="${userName}">User</span>!</p>
    <p>Please click the link below to reset your password for <span th:text="${appName}"></span>:</p>
    <p><a th:href="${resetUrl}" th:text="${resetUrl}">Reset Link</a></p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Thanks,<br/>The <span th:text="${appName}"></span> Team</p>
</body>
</html>
