<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="bg-white dark:bg-gray-900">
<div th:replace="~{fragments/header :: header}"></div>
<div class="form-container">
    <h2>Choose a New Password</h2>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required autofocus="autofocus"/>
        </div>
        <div>
            <input type="submit" value="Reset Password"/>
        </div>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/theme.js}"></script>
</body>
</html>
