<div th:replace="~{layouts/user_management_layout :: layout(~{::self}, 'Reset Password')}" class="form-container">
    <h2>Choose a New Password</h2>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required autofocus="autofocus"/>
        </div>
        <div>
            <input type="submit" value="Reset Password"/>
        </div>
    </form>
</div>
