.form-container {
  max-width: $form-container-width; // Usa la variable de _variables.scss
  margin: $spacing-xl auto;
  padding: $spacing-xl;
  background-color: rgba(17, 24, 39, 0.75);
  border-radius: $border-radius-base;
  color: $color-text-light;
  border: 1px solid hsla(0,0%,100%,.1);
  backdrop-filter: blur(10px);
  // ESTA LÍNEA RESTAURA EL BRILLO
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.5), 0 0 40px rgba(34, 211, 238, 0.3);
}

.form-group {
  margin-bottom: $spacing-lg;
}

.form-label {
  display: block;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  margin-bottom: $spacing-sm;
}

.form-control {
  display: block;
  width: 100%;
  padding: $spacing-md;
  background-color: lighten($color-background-dark, 10%);
  border: 1px solid $color-border;
  border-radius: $border-radius-sm;
  color: $color-text-light;

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.5);
  }
}
